<h1>Dragon Ball Z Characters</h1>
<hr>

<div class="row">
  <div class="col">
    <h2>List</h2>
    <ul class="list-group">
      <li class="list-group-item">Goku</li>
      <li class="list-group-item">Vegeta</li>
      <li class="list-group-item">Freezer</li>
      <li class="list-group-item">Gohan</li>
    </ul>
  </div>
  <div class="col">
    <h2>Add character</h2>
    <form class="row">
      <input class="mb-2" type="text" placeholder="Name">
      <input class="mb-2" type="number" placeholder="number">
      <input class="btn btn-primary mb-2" type="submit" value="Add">
    </form>
  </div>
</div>
